@import 'tailwindcss';
@import 'nextra-theme-docs/style.css';

:root {
  --background: #ffffff;
  --foreground: #171717;
  --purple-900: #1f0444;
  --purple-800: #2b0660;
  --purple-700: #410891;
  --purple-600: #570bc1;
  --purple-500: #600cd4;
  --purple-400: #8a3ef4;
  --purple-300: #a76ef7;
  --purple-200: #c49ff9;
  --purple-100: #e2cffc;
  --purple-50: #f0e7fe;

  --color-secondary-50: #f8fafc;
  --color-secondary-100: #f1f5f9;
  --color-secondary-200: #e2e8f0;
  --color-secondary-300: #cbd5e1;
  --color-secondary-400: #94a3b8;
  --color-secondary-500: #f0ab20;
  --color-secondary-600: #d69a1c;
  --color-secondary-700: #334155;
  --color-secondary-800: #1e293b;
  --color-secondary-900: #0f172a;
  --color-secondary-950: #020617;
}

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-mulish: var(--font-mulish);
  --font-bricolage: var(--font-bricolage);
  --color-foreground: var(--foreground);
  --color-background: var(--background);
  --color-primary-50: var(--purple-50);
  --color-primary-100: var(--purple-100);
  --color-primary-200: var(--purple-200);
  --color-primary-300: var(--purple-300);
  --color-primary-400: var(--purple-400);
  --color-primary-500: var(--purple-500);
  --color-primary-600: var(--purple-600);
  --color-primary-700: var(--purple-700);
  --color-primary-800: var(--purple-800);
  --color-primary-900: var(--purple-900);

  --color-secondary-50: var(--color-secondary-50);
  --color-secondary-100: var(--color-secondary-100);
  --color-secondary-200: var(--color-secondary-200);
  --color-secondary-300: var(--color-secondary-300);
  --color-secondary-400: var(--color-secondary-400);
  --color-secondary-500: var(--color-secondary-500);
  --color-secondary-600: var(--color-secondary-600);
  --color-secondary-700: var(--color-secondary-700);
  --color-secondary-800: var(--color-secondary-800);
  --color-secondary-900: var(--color-secondary-900);
  --color-secondary-950: var(--color-secondary-950);
}
